*{margin:0;padding:0;outline:0;}
body{font-size:20px;font-family:ariel;background:#fff;line-height:16px;}
.templete{width:1000px;margin:0 auto;}
.clear{overflow:hidden;}



.allsec{
    border:2px solid;
}
.headsec{
    height:60px;
    background:#3BC9F3;
    border-top:5px solid #4E7896;
}
.headleft{
    float:left;
   
}
.headleft h2{
   padding:20px;
   float:left;
   font-size:35px;
}
.headleft p{
    float:left;
    padding:10px;
    border-left:1px solid;
    margin-top:10px;
}
.headright{
    float:right;
    padding-top:18px;
    width:250px;
    margin-right:20px;
}



.headright input[type="text"]{
    width:200px;
    border:1px solid #000;
    padding:5px;
    cursor:pointer;
    

}
.headright input[type="submit"]{
border:1px solid #000;
padding:5px;
cursor:pointer;
}











.menusec{
    height:50px;
    background:#3BC9F3;
    border-top:1px solid #000;
}
.menuleft{
    float:left;
}
.menuleft ul{
    margin:0;
    padding:0;
    list-style:none;
}
.menuleft ul li{
    float:left;
    display:block;
    margin:5px 0px;
    padding:12px 25px;
    border-right:1px solid #4E7896;
}
.menuleft ul li:last-child{
    border-right:0px solid #4E7896;
}
.menuleft ul li a{
    text-decoration:none;
    color:#fff;
}
.menuleft ul li a:hover{
    color:#4E7896;
}
.menuright{
    float:right;
}
.menuright p{
    margin:5px 5px;
    margin-right:20px;
    color:#fff;
}











.bannersec{
    height:400px;
    background:#056565;
    border-top:3px solid #4E7896;
}
.banleft{
    float:left;
    
}
.banleft h2{
    padding-bottom:20px;
    border-bottom:1px solid;
    margin-top:60px;
    color:#fff;
    margin-left:30px;


}
.banleft p{
    text-align:justify;
    width:500px;
    line-height:1.2;
    padding-top:20px;
    color:#fff;
    margin-left:30px;

}

.banlink{
    width:180px;
    height:20px;
    float:left;
    background:#fff;
    margin-right:40px;
    padding:10px;
    margin-top:20px;
    margin-left:30px;
}
.banlink a{
    color:#000;
    padding-left:30px;
    font-size:14px;
    font-weight:bold;
    text-decoration:none;
}
.banlink a:hover{
    text-decoration:none;
    color:#4E7896;
}

.banright{
    float:right;
    width:400px;
}
.banright img{
    margin-right:40px;
    padding:10px;
    margin-top:100px;
    border:3px solid;
    background:#000;
    height:180px
}




.servicesec{
    background:#7BDCF0;
    border-top:1px solid #4E7896;

}
.allservice{
    margin:30px 20px;
    border-bottom:2px solid #fff;
    padding-bottom:30px;
    margin-left:35px;
}
.service{
    width:230px;
    border:1px solid;
    float:left;

}
.service h2{
font-family:georgia;
font-size:22px;
color:#00FF;
padding:20px;
background:#5A9CE9;
text-align:center;
margin-bottom:20px;
}
.sameservice{
    margin-bottom:20px;
    padding:0px 10px 10px 10px;
}
.sameservice h3{
    font-family:georgia;
font-size:22px;
border-bottom:1px solid ;
padding-bottom:5px;
margin-bottom:5px;

}



.sameservice p{}
.sameservice a{
    float:right;
    margin-top:20px;
}







.contentsec{
    background:#7BDCF0;
}
.contentleft{
    float:left;
    width:400px;
    margin-left:20px;
    margin-right:20px;
}
.contentleft h2{
    color:#4E7896;
    font-size:22px;
    padding-top:20px;
    padding-bottom:10px;
    border-bottom:1px solid;
}
.contentlefdec{
     padding-top:30px;
     padding-bottom:20px;
     border-bottom:1px solid;

}
.contentlefdec:last-child{
    border-bottom:0px solid;
}
.leftimg{
    float:left;
}
.leftimg img{
    width:118px;
    padding:3px;
    border:3px solid;
    background:#fff;
}
.righttext{
    float:left;
    width:230px;
    margin-left:20px;
}
.righttext h4{
    font-weight:bold;
}
.righttext p{
    line-height:22px;
}
.righttext a{
    float:right;
    margin-top:15px;
}






.contentright{
    margin-right:20px;
}
.contentright h2{
    color:#4E7896;
    font-size:22px;
    padding-top:20px;
    padding-bottom:10px;
    border-bottom:1px solid ;
    margin-bottom:15px;
}
.contentright img{
    width:170px;
    float:left;
    margin-right:20px;
    padding:3px;
    border:3px solid ;
    background:#fff;
}
.contentright h4{
    font-weight:bold;
    margin-bottom:8px;
   
}
.contentright p{
    line-height:18px;
}










.footertop{
    background:black;
    border-bottom:2px solid #fff;
 }
 .samefooter{
     width:310px;
     float:left;
     margin-left:20px;
 }
 .samefooter h2{
     color:#ddd;
     font-size:22px;
     border-bottom:1px solid;
     margin-top:30px;
     margin-bottom:10px;
     padding-bottom:10px;
 }
 .samefooter p{
     color:#ddd;
 
 }
 .samefooter input[type="text"]{
     width:245px;
     padding:5px;
     margin-bottom:20px;
 }
 .samefooter input[type="submit"]{
     padding:5px;
     cursor:pointer;
 }
 .samefooter ul{
     
 }
 .samefooter ul li{}
 .samefooter ul li a{
     color:#08988C;
     line-height:25px;
 }
 .samefooter a{
     color:#ddd;
 }
 .samefooter a:hover{}
 
 
 
 
 
 .footerbottom{
     background:black;
     padding-top:15px;
 }
 .footleft{
     float:left;
     margin-left:20px;
 }
 .footleft P{
     color:#fff;
 }
 .footright{
     float:right;
     margin-right:20px;
 }
 .footright p{
     color:#fff;
     
 }